@model Shapees.Models.DatabaseModel.Room

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>Create</h2>

<form asp-action="Create">
    <div class="form-horizontal">
        <h4>Room</h4>
        <hr />
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="form-group">
            <label asp-for="Roomname" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Roomname" class="form-control" />
                <span asp-validation-for="Roomname" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Roomagegroup" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Roomagegroup" class="form-control" />
                <span asp-validation-for="Roomagegroup" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Info" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Info" class="form-control" />
                <span asp-validation-for="Info" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Description" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
</form>

<div>
    <a asp-action="Index">Back to List</a>
</div>

