@model Shapees.Models.DatabaseModel.Userinfo

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/UsersLayout.cshtml";
}




<!------------------------------>
<!--        START HEAD        -->
<!------------------------------>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!--        START CSS        -->
    <style>
        /***********    TABS CSS       ***********/
        .btn-gray {
            color: #fff;
            background-color: #eee;
            border-color: #ccc;
            color: #000;
        }

        .btn.borderless {
            border: none;
            background: inherit;
        }

            .btn.borderless.dropdown-toggle {
                -webkit-box-shadow: none;
                box-shadow: none;
            }

        .rb {
            border-right: 1px solid #ccc;
        }

        .topcis-header {
            margin-top: 20px;
            margin-bottom: -1px;
            background-color: #f8f8f8;
            border: 1px solid #e5e5e5;
            border-radius: 3px 3px 0 0;
            padding-top: 5px;
            padding-bottom: 5px;
        }


        /***********    HR (LINE) CSS       ***********/
        .hr.styleSeparator {
            height: 10px;
            border: 0;
            box-shadow: 0 10px 10px -10px #8c8b8b inset;
        }


        /***********    SEARCH BAR CSS       ***********/
        #searchbar {
            width: 200px;
            height: 48px;
            -webkit-transition: width 0.4s ease-in-out;
            transition: width 0.4s ease-in-out;
            float: right;
            box-sizing: border-box;
            border: 2px solid #ccc;
            border-radius: 4px;
            font-size: 14px;
            background-color: white;
            background-image: url(search.png);
            background-position: 10px 12px;
            background-repeat: no-repeat;
            padding: 12px 20px 12px 40px;
        }

        /* When the input field gets focus, change its width to 100% */
        #searchbar {
            width: 100%;
        }
        /* Style the tab */
        div.tab {
            overflow: hidden;
            border: 1px solid #ccc;
            background-color: #f1f1f1;
        }

        /* Style the buttons inside the tab */
        div.tab button {
            background-color: inherit;
            float: left;
            border: none;
            outline: none;
            cursor: pointer;
            padding: 14px 16px;
            transition: 0.3s;
        }

        /* Change background color of buttons on hover */
        div.tab button:hover {
                background-color: #ddd;
        }

        /* Create an active/current tablink class */
        div.tab button.active {
                background-color: #ccc;
        }

        /* Style the tab content */
        .tabcontent {
            display: none;
            padding: 6px 12px;
            border: 1px solid #ccc;
            border-top: none;
        }

        /* Remove hover for disabled tab links */
        #delete_users {
            background-color: #f1f1f1;
            color: #D3D3D3;
        }

        #user_details {
            background-color: #f1f1f1;
            color: #D3D3D3;
        }

    </style>
    <!--        END CSS        -->
    <!--        START SCRIPT        -->
    <script>
        //open tab function
        function openOption(evt, optionName) {
            // Declare all variables
            var i, tabcontent, tablinks;

            // Get all elements with class="tabcontent" and hide them
            tabcontent = document.getElementsByClassName("tabcontent");
            for (i = 0; i < tabcontent.length; i++) {
                tabcontent[i].style.display = "none";
            }

            // Get all elements with class="tablinks" and remove the class "active"
            tablinks = document.getElementsByClassName("tablinks");
            for (i = 0; i < tablinks.length; i++) {
                tablinks[i].className = tablinks[i].className.replace(" active", "");
            }

            // Show the current tab, and add an "active" class to the button that opened the tab

            document.getElementById(optionName).style.display = "block";
            evt.currentTarget.className += " active";

        }

        //redirect to action pages
        function openIndex() {
            document.location = '@Url.Action("Index", "UserinfoDB")';

        }
        function openCreate() {
            document.location = '@Url.Action("Create", "UserinfoDB")';

        }

        function openEdit() {

            document.getElementById("edit_users").onclick = function () {
                //disable
                this.disabled = true;
            }

        }
        function openDelete() {
            document.getElementById("delete_users").onclick = function () {
                //disable
                this.disabled = true;
            }

        }
        function openDetails() {
            document.getElementById("user_details").onclick = function () {
                //disable
                this.disabled = true;
            }

        }

        function blockHover() {
            document.getElementById("delete_users").style.backgroundColor = inherit;
            document.getElementById("edit_users").style.backgroundColor = inherit;
            document.getElementById("user_details").style.backgroundColor = inherit;
        }
       
        //open users home page on body load
        function loadUsersEdit() {
            // Show the users home tab
            document.getElementById('EditUser').style.display = "block";
            // Set button to active
            document.getElementById("edit_users").className += " active";
        }



    </script>

    <!--    SCRIPT FUNCTIONS FOR HIDE/SHOW ADDITIONAL INFO BASED ON USER TYPE   -->
    <script type="text/javascript">

        function hideAdditionalForm() {
            document.getElementById('employee1').style.display = "none";
            document.getElementById('employee2').style.display = "none";
            document.getElementById('parent1').style.display = "none";
            document.getElementById('parent2').style.display = "none";
            document.getElementById('educator1').style.display = "none";
        }
        function openDirectorAdditionalInfo() {
            document.getElementById('employee1').style.display = "block";
            document.getElementById('employee2').style.display = "block";
            document.getElementById('educator1').style.display = "none";
            document.getElementById('parent1').style.display = "none";
            document.getElementById('parent2').style.display = "none";
        }
        function openEducatorAdditionalInfo() {
            document.getElementById('educator1').style.display = "block";
            document.getElementById('employee1').style.display = "block";
            document.getElementById('employee2').style.display = "block";
            document.getElementById('parent1').style.display = "none";
            document.getElementById('parent2').style.display = "none";

        }
        function openParentAdditionalInfo() {
            document.getElementById('employee1').style.display = "none";
            document.getElementById('employee2').style.display = "none";
            document.getElementById('parent1').style.display = "block";
            document.getElementById('parent2').style.display = "block";
            document.getElementById('educator1').style.display = "none";
        }

        function loadFormType() {
            var userType = document.getElementById("usertype");

            switch (userType.options.selectedIndex) {
                case 0:
                    hideAdditionalForm();
                    break;
                case 1:
                    openParentAdditionalInfo();
                    break;
                case 2:
                    openEducatorAdditionalInfo();
                    break;
                case 3:
                    openDirectorAdditionalInfo();
                    break;
                default:
                    break;
            }
        }

    </script>
    <!--        END SCRIPT        -->
</head>
<!----------------------------->
<!--        END HEAD        --->
<!----------------------------->
<!------------------------------>
<!--        START BODY        -->
<!------------------------------>

<body onload="loadUsersEdit()">
    <h2>Edit User</h2>
    <div class="tab">
        <button id="home_users" class="tablinks" onclick="openIndex()">Search Users</button>
        <button id="create_users" class="tablinks" onclick="openCreate()">Create User</button>
        <button onmouseover="blockHover()" id="edit_users" class="tablinks" onclick="openOption(event, 'EditUser')">Edit User</button>
        <button onmouseover="blockHover()" id="delete_users" class="tablinks" onclick="openDelete()">Delete User</button>
        <button onmouseover="blockHover()" id="user_details" class="tablinks" onclick="openDetails()">User Details</button>
    </div>
    <!--       START TABS        -->
    <!--    FIRST TAB - List Users    -->
    <div id="ListUsers" class="tabcontent">
    </div>
    <!--    END FIRST TAB - List Users    -->
    <!--    SECOND TAB - Create User    -->
    <div id="CreateUser" class="tabcontent">
    </div>
    <!--        END SECOND TAB      -->
    <!--    3RD TAB - Edit User    -->
    <div id="EditUser" class="tabcontent">
        <form asp-action="Edit">
            <div class="form-horizontal">
                <br />
                <h4>Edit user details</h4>
                <hr />
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <input type="hidden" asp-for="Userid" />
                <div class="form-group">
                    <label asp-for="Username" class="col-md-2 control-label"></label>
                    <div class="col-md-10">
                        <input asp-for="Username" class="form-control" />
                        <span asp-validation-for="Username" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group">
                    <label asp-for="Email" class="col-md-2 control-label"></label>
                    <div class="col-md-10">
                        <input asp-for="Email" class="form-control" />
                        <span asp-validation-for="Email" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group">
                    <label asp-for="Pass" class="col-md-2 control-label"></label>
                    <div class="col-md-10">
                        <input asp-for="Pass" class="form-control" />
                        <span asp-validation-for="Pass" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group">
                    <label asp-for="Usertype" class="col-md-2 control-label"></label>
                    <div class="col-md-10">
                        <input asp-for="Usertype" class="form-control" />
                        <span asp-validation-for="Usertype" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group">
                    <label asp-for="Lastlogin" class="col-md-2 control-label"></label>
                    <div class="col-md-10">
                        <input asp-for="Lastlogin" class="form-control" />
                        <span asp-validation-for="Lastlogin" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group">
                    <label asp-for="Isloggedin" class="col-md-2 control-label"></label>
                    <div class="col-md-10">
                        <input asp-for="Isloggedin" class="form-control" />
                        <span asp-validation-for="Isloggedin" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group">
                    <label asp-for="Street" class="col-md-2 control-label"></label>
                    <div class="col-md-10">
                        <input asp-for="Street" class="form-control" />
                        <span asp-validation-for="Street" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group">
                    <label asp-for="City" class="col-md-2 control-label"></label>
                    <div class="col-md-10">
                        <input asp-for="City" class="form-control" />
                        <span asp-validation-for="City" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group">
                    <label asp-for="Postcode" class="col-md-2 control-label"></label>
                    <div class="col-md-10">
                        <input asp-for="Postcode" class="form-control" />
                        <span asp-validation-for="Postcode" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group">
                    <label asp-for="State" class="col-md-2 control-label"></label>
                    <div class="col-md-10">
                        <input asp-for="State" class="form-control" />
                        <span asp-validation-for="State" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group">
                    <label asp-for="Firstname" class="col-md-2 control-label"></label>
                    <div class="col-md-10">
                        <input asp-for="Firstname" class="form-control" />
                        <span asp-validation-for="Firstname" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group">
                    <label asp-for="Lastname" class="col-md-2 control-label"></label>
                    <div class="col-md-10">
                        <input asp-for="Lastname" class="form-control" />
                        <span asp-validation-for="Lastname" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group">
                    <label asp-for="Dob" class="col-md-2 control-label"></label>
                    <div class="col-md-10">
                        <input asp-for="Dob" class="form-control" />
                        <span asp-validation-for="Dob" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group">
                    <label asp-for="Homephone" class="col-md-2 control-label"></label>
                    <div class="col-md-10">
                        <input asp-for="Homephone" class="form-control" />
                        <span asp-validation-for="Homephone" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group">
                    <label asp-for="Mobilephone" class="col-md-2 control-label"></label>
                    <div class="col-md-10">
                        <input asp-for="Mobilephone" class="form-control" />
                        <span asp-validation-for="Mobilephone" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group">
                    <label asp-for="Employedon" class="col-md-2 control-label"></label>
                    <div class="col-md-10">
                        <input asp-for="Employedon" class="form-control" />
                        <span asp-validation-for="Employedon" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group">
                    <label asp-for="Roomassigned" class="col-md-2 control-label"></label>
                    <div class="col-md-10">
                        <input asp-for="Roomassigned" class="form-control" />
                        <span asp-validation-for="Roomassigned" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group">
                    <label asp-for="Shortbio" class="col-md-2 control-label"></label>
                    <div class="col-md-10">
                        <input asp-for="Shortbio" class="form-control" />
                        <span asp-validation-for="Shortbio" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group">
                    <label asp-for="Taskscompleted" class="col-md-2 control-label"></label>
                    <div class="col-md-10">
                        <input asp-for="Taskscompleted" class="form-control" />
                        <span asp-validation-for="Taskscompleted" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group">
                    <label asp-for="Totaltasks" class="col-md-2 control-label"></label>
                    <div class="col-md-10">
                        <input asp-for="Totaltasks" class="form-control" />
                        <span asp-validation-for="Totaltasks" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group">
                    <label asp-for="Othercontact" class="col-md-2 control-label"></label>
                    <div class="col-md-10">
                        <input asp-for="Othercontact" class="form-control" />
                        <span asp-validation-for="Othercontact" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group">
                    <label asp-for="Parentof" class="col-md-2 control-label"></label>
                    <div class="col-md-10">
                        <input asp-for="Parentof" class="form-control" />
                        <span asp-validation-for="Parentof" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group">
                    <label asp-for="Profileimage" class="col-md-2 control-label"></label>
                    <div class="col-md-10">
                        <input asp-for="Profileimage" class="form-control" />
                        <span asp-validation-for="Profileimage" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <input type="submit" value="Save" class="btn btn-default" />
                    </div>
                </div>
            </div>
        </form>

        <div>
            <a asp-action="Index">Back to List</a>
        </div>
        <br /><br />
    </div>
    <!---->
    <!--    4TH TAB - Delete User    -->
    <div id="DeleteUser" class="tabcontent">


        <br /><br />
    </div>
    <!---->
    <!--    5TH TAB -  User  Details  -->
    <div id="UserDetails" class="tabcontent">


        <br /><br />
    </div>
    <!---->
</body>

<!----------------------------->
<!--        END BODY        -->
<!----------------------------->
