@model Shapees.Models.TestModels.Users

@{
    ViewData["Title"] = "Create";
    int? type = (HttpContextAccessor.HttpContext.Session.GetInt32("role"));
    switch (type)
    {
        case 3:
            Layout = "~/Views/Shared/_AdminLayout.cshtml";
            break;

        case 2:
            Layout = "~/Views/Shared/_EducatorLayout.cshtml";
            break;

        case 1:
            Layout = "~/Views/Shared/_ParentLayout.cshtml";
            break;

        default:
            Layout = "~/Views/Shared/_AdminLayout.cshtml";
            break;
    }
}
@inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor
@using Microsoft.AspNetCore.Http
@using Microsoft.AspNetCore.Session

<h2>Create</h2>

<form asp-action="Create">
    <div class="form-horizontal">
        <h4>Users</h4>
        <hr />
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="form-group">
            <label asp-for="Username" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Username" class="form-control" />
                <span asp-validation-for="Username" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Email" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Pass" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Pass" class="form-control" />
                <span asp-validation-for="Pass" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="UserType" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="UserType" class="form-control" />
                <span asp-validation-for="UserType" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="LastLogin" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="LastLogin" class="form-control" />
                <span asp-validation-for="LastLogin" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="IsLoggedIn" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="IsLoggedIn" class="form-control" />
                <span asp-validation-for="IsLoggedIn" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
</form>

<div>
    <a asp-action="Index">Back to List</a>
</div>

