@model Shapees.Models.DatabaseModel.Announcement

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>Edit</h2>

<form asp-action="Edit">
    <div class="form-horizontal">
        <h4>Announcement</h4>
        <hr />
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <input type="hidden" asp-for="Announcementid" />
        <div class="form-group">
            <label asp-for="Announcementtype" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Announcementtype" class="form-control" />
                <span asp-validation-for="Announcementtype" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Datecreated" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Datecreated" class="form-control" />
                <span asp-validation-for="Datecreated" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Title" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Title" class="form-control" />
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Description" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Isdisplayed" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Isdisplayed" class="form-control" />
                <span asp-validation-for="Isdisplayed" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Announcementfor" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Announcementfor" class="form-control" />
                <span asp-validation-for="Announcementfor" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
</form>

<div>
    <a asp-action="Index">Back to List</a>
</div>

