@{
    ViewData["Title"] = "Four Corner Solutions!";
    ViewData["Message"] = "We check every corner so we miss nothing!";
}
<h1>@ViewData["Title"]</h1>
<h2>@ViewData["Message"]</h2>
<h3>SHAPEES: Scheduling and Programming Early Education Systems</h3>

<p>Using this area as a test to make sure that I am modifying this view correctly, and also SHAPEES!</p>
