@* ---------------------------------- SHAPEES 2017 ---------------------------------- *@
@*                                                                                    *@
@*  Created and Edited by Four Corner Solutions team:                                 *@
@*      Ivana Ozakovic, Nicole Lardner, Damon Walker,                                 *@
@*      Cassandra Kalabric, Matthew Mauri, Sima Narain                                *@
@*                                                                                    *@
@*  Created for Kid's Uni, University of Wollongong, Wollongong                       *@
@*                                                                                    *@
@*  Filename: Home/Announcements.cshtml                                               *@
@*  Controller Filename: Controllers/HomeController.cs                                *@
@*                                                                                    *@
@*  File description: Announcements page file.                                        *@
@* ---------------------------------------------------------------------------------- *@

@{
    ViewData["Title"] = "Announcements";
    int? type = (HttpContextAccessor.HttpContext.Session.GetInt32("role"));
    switch (type)
    {
        case 3:
            Layout = "~/Views/Shared/AdminAnnouncementsLayout.cshtml";
            break;

        case 2:
            Layout = "~/Views/Shared/EducatorAnnouncementsLayout.cshtml";
            break;

        default:
            Layout = "~/Views/Shared/AdminAnnouncementsLayout.cshtml"
            break;
    }
}
@inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor
@using Microsoft.AspNetCore.Http
@using Microsoft.AspNetCore.Session
<head>

</head>
<body>
    <h2>Announcements</h2>

    <br /><br />
    <!--Announcements board -->
    <div class="container">
        <div class="row">

            <div class="col-md-6">
                <div class="btn-group" role="group" aria-label="...">
                    <button type="button" class="btn btn-primary">All Announcements</button>
                    <button type="button" class="btn btn-default">Reviews</button>
                    <button type="button" class="btn btn-default">Issues</button>
                    <button type="button" class="btn btn-default">Other Announcements</button>
                    <!--button type="button" class="btn btn-default">Announcements</button-->
                </div>

            </div>
            <div class="col-md-6">

                <div class="row">

                    <div class="col-md-9 text-right">

                        <div class="input-group">
                            <div class="input-group-btn">
                                <button type="button" class="btn btn-gray dropdown-toggle" data-toggle="dropdown" aria-expanded="false">Filters <span class="caret"></span></button>
                                <ul class="dropdown-menu" role="menu">
                                    <li><a href="#">All</a></li>
                                    <li><a href="#">Reviews</a></li>
                                    <li><a href="#">Issues</a></li>
                                    <li class="divider"></li>
                                    <li><a href="#">Other...</a></li>
                                </ul>
                            </div><!-- /btn-group -->
                            <input type="text" class="form-control" placeholder="Search" aria-label="...">
                        </div><!-- /input-group -->

                    </div>
                    <div class="col-md-3 text-right">

                        <div class="btn-group">
                            <button type="button" class="btn btn-success dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                                Add Item <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu" role="menu">
                                <li><a href="#">General Announcement</a></li>
                                <li><a href="#">Issue</a></li>
                                <li><a href="#">Review</a></li>
                                <li class="divider"></li>
                                <li><a href="#">Other...</a></li>
                            </ul>
                        </div>

                    </div>

                </div>

            </div>
        </div>
        <div class="row">
            <div class="col-md-12">

                <div class="topcis-header">

                    <div class="row">

                        <div class="col-md-10">
                        </div>

                        <div class="col-md-2 text-right">
                            <div class="btn-group">
                                <button type="button" class="btn btn-gray borderless dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                                    Sort By <span class="caret"></span>
                                </button>
                                <ul class="dropdown-menu" role="menu">
                                    <li><a href="#">Date Desc</a></li>
                                    <li><a href="#">Date Asc</a></li>
                                    <li><a href="#">Educator/Director</a></li>
                                    <li class="divider"></li>
                                    <li><a href="#">Other...</a></li>
                                </ul>
                            </div>

                        </div>

                    </div>

                </div>

            </div>

        </div>
    </div>
</body>