@* ---------------------------------- SHAPEES 2017 ---------------------------------- *@
@*                                                                                    *@
@*  Created and Edited by Four Corner Solutions team:                                 *@
@*      Ivana Ozakovic, Nicole Lardner, Damon Walker,                                 *@
@*      Cassandra Kalabric, Matthew Mauri, Sima Narain                                *@
@*                                                                                    *@
@*  Created for Kid's Uni, University of Wollongong, Wollongong                       *@
@*                                                                                    *@
@*  Filename: Home/Children.cshtml                                                    *@
@*  Controller Filename: Controllers/HomeController.cs                                *@
@*                                                                                    *@
@*  File description: Children page file.                                             *@
@* ---------------------------------------------------------------------------------- *@


@{
    ViewData["Title"] = "Children";
    Layout = "~/Views/Shared/ChildrenLayout.cshtml";
}
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="~/css/ChildrensViewStyle.css" />
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.4.0/css/font-awesome.min.css" rel='stylesheet' type='text/css'>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <style>
        .btn-gray {
            color: #fff;
            background-color: #eee;
            border-color: #ccc;
            color: #000;
        }


        .btn.borderless {
            border: none;
            background: inherit;
        }

            .btn.borderless.dropdown-toggle {
                -webkit-box-shadow: none;
                box-shadow: none;
            }

        .rb {
            border-right: 1px solid #ccc;
        }

        .topcis-header {
            margin-top: 20px;
            margin-bottom: -1px;
            background-color: #f8f8f8;
            border: 1px solid #e5e5e5;
            border-radius: 3px 3px 0 0;
            padding-top: 5px;
            padding-bottom: 5px;
        }
    </style>

</head>
<body>
    <h2>Children</h2>
    <div class="tab">
        <button class="tablinks" onclick="openOption(event, 'ManageChildren')">Manage Children </button>
        <button class="tablinks" onclick="openOption(event, 'Portfolio')">Children Portfolios</button>
    </div>

    <!--Educators view of childrens page-->
    <div id="ManageChildren" class="tabcontent">
        <main class="container">
            <div class="col-lg-11">
                <div class="card-header"><h3>Currently Enrolled Children</h3></div>
                <div class="card-block p-0">
                    <table class="table table-bordered table-sm m-0">
                        <thead>
                            <tr>
                                <th width="100px"><em class="fa fa-cog"></em></th>
                                <th width="325px">Childs Name</th>
                                <th width="150px">Room</th>
                                <th width="150px">Childs Portfolio</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td align="center">
                                    <a class="btn btn-default"><em class="fa fa-pencil"></em></a>
                                    <a class="btn btn-default"><em class="fa fa-plus"></em></a>
                                    <a class="btn btn-default"><em class="fa fa-trash"></em></a>
                                </td>
                                <td></td>
                                <td></td>
                                <td>
                                    <a href="#" class="btn btn-default a-btn-slide-text">
                                        <span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span>
                                        <span><strong>View Portfolio</strong></span>
                                    </a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <br />
                    <br />
                    <br />
                    <br />
                    <br />
                    <!--Buttons - navigate to previous/next page displaying children-->
                    <div class="nav-button">
                        <a href="#" class="btn btn-default a-btn-slide-text">
                            <em class="fa fa-mail-reply" aria-hidden="true"></em>
                        </a>

                        <a href="#" class="btn btn-default a-btn-slide-text">
                            <span><strong>1</strong></span>
                        </a>

                        <a href="#" class="btn btn-default a-btn-slide-text">
                            <span><strong>2</strong></span>
                        </a>

                        <a href="#" class="btn btn-default a-btn-slide-text">
                            <span><strong>3</strong></span>
                        </a>

                        <a href="#" class="btn btn-default a-btn-slide-text">
                            <em class="fa fa-mail-forward" aria-hidden="true"></em>
                        </a>
                    </div>
                </div>
            </div>
        </main>
        <!--END Educators view of childrens page-->
 
        <!--Directors view of Childrens page-->
        <main class="container">
            <div class="col-lg-11">
                <div class="card-header"><h3>Recently Enrolled Children</h3></div>
                <div class="card-block p-0">
                    <table class="table table-bordered table-sm m-0">
                        <thead>
                            <tr>
                                <th width="150px"><em class="fa fa-cog"></em></th>
                                <th width="300px">Childs Name</th>
                                <th width="150px">Room</th>
                                <th width="150px">Educators Name</th>
                                <th width="150px">Childs Portfolio</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td align="center">
                                    <a class="btn btn-default"><em class="fa fa-pencil"></em></a>
                                    <a class="btn btn-default"><em class="fa fa-plus"></em></a>
                                    <a class="btn btn-default"><em class="fa fa-trash"></em></a>
                                </td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td>
                                    <a href="#" class="btn btn-default a-btn-slide-text">
                                        <span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span>
                                        <span><strong>View Portfolio</strong></span>
                                    </a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <br />
                    <br />
                    <br />
                    <br />
                    <br />
                    <!--Buttons - navigate to previous/next page displaying children-->
                    <div class="nav-button">
                        <a href="#" class="btn btn-default a-btn-slide-text">
                            <em class="fa fa-mail-reply" aria-hidden="true"></em>
                        </a>

                        <a href="#" class="btn btn-default a-btn-slide-text">
                            <span><strong>1</strong></span>
                        </a>

                        <a href="#" class="btn btn-default a-btn-slide-text">
                            <span><strong>2</strong></span>
                        </a>

                        <a href="#" class="btn btn-default a-btn-slide-text">
                            <span><strong>3</strong></span>
                        </a>

                        <a href="#" class="btn btn-default a-btn-slide-text">
                            <em class="fa fa-mail-forward" aria-hidden="true"></em>
                        </a>
                    </div>
                </div>
            </div>
        </main>
        </div>
        <!--END Directors view of childrens page-->
   
    <div id="Portfolio" class="tabcontent">

        <!--Parents view of childrens page / PORTFOLIO-->
        <div class="container">
            <div class="col-lg-11">
                <h2><span class="name-of-child"><!--Name of the child goes here--></span> Portfolio</h2>
                <ul class="nav nav-tabs">
                    <li class="active"><a data-toggle="tab" href="#PBasicInfo">Basic Information</a></li>
                    <li><a data-toggle="tab" href="#PDocumentation">Documents</a></li>
                    <li><a data-toggle="tab" href="#PMedia">Media</a></li>
                </ul>

                <div class="tab-content">
                    <div id="PBasicInfo" class="tab-pane fade in active">
                        <h3><span class="name-of-child"><!--Name of child goes here--></span> Portfolio</h3>
                        <!--Parents view of Basic Information tab-->
                        <table class="table">
                            <tbody>
                                <!--Childs information will be displayed in a table-->
                                <tr>
                                    <th></th>
                                    <td></td>
                                </tr>
                                <tr>
                                    <th></th>
                                    <td></td>
                                </tr>
                                <tr>
                                    <th></th>
                                    <td></td>
                                </tr>
                                <tr>
                                    <th></th>
                                    <td></td>

                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>

                <!--END Parents view of Basic Information tab-->
                <!--Parents view of Documentation tab-->
                <div class="container">
                    <div class="row">
                        <div class="col-lg-11">
                            <div id="PDocumentation" class="tab-pane fade">
                                <h3>Documents</h3>
                                <p><span class="name-of-child"><!--Name of child--></span>Medical Documents</p>
                                <hr />
                                <span class="medical-doc"><!--Any medical related documents will go here--></span>
                                <br />
                                <br />
                                <p><span class="name-of-child"><!--Name of child--></span> Incident Reports</p>
                                <hr />
                                <span class="child-report"><!--Childs report will go here--></span>
                            </div>
                            <!--END Parents view of Documentations tab-->
                            <!--Parents view of Media tab-->
                            <div id="PMedia" class="tab-pane fade">
                                <h3>Your Childs Activities</h3><!--Childs media will be displayed here-->
                                <span class="childs-media"></span>
                            </div>
                            <!--END Parents view of Media tab-->
                        </div>
                    </div>
                </div>

                <!--END parents view of childrens page / PORTFOLIO-->


                <p>Director's view of portfolio</p>
                <!--Directors view of PORTFOLIO-->
                <div class="container">
                    <div class="col-lg-11">
                        <h2><span class="name-of-child"><!--Name of the child goes here--></span> Portfolio</h2>
                        <ul class="nav nav-tabs">
                            <li class="active"><a data-toggle="tab" href="#DBasicInfo">Basic Information</a></li>
                            <li><a data-toggle="tab" href="#DDocumentation">Documents</a></li>
                            <li><a data-toggle="tab" href="#DMedia">Media</a></li>
                        </ul>

                        <div class="tab-content">
                            <div id="DBasicInfo" class="tab-pane fade in active">
                                <h3><span class="name-of-child"><!--Name of child goes here--></span> Basic Information</h3>
                                <div class="col-lg-11">
                                    <textarea name="portfolioChild" rows="10" cols="30"> </textarea>
                                </div>
                                <!--Directors view of Basic Information tab-->
                                <!-- FORM TO UPDATE CHILD DETAILS
                                    
                        name
                        dob
                        educator
                        room
                        phone number
                        contact number
                        cancel button
                        save button-->
                            </div>
                            <!--END Directors view of Basic Information tab-->
                            <!--Directors view of Documentation tab-->
                            <div id="DDocumentation" class="tab-pane fade">
                                <h3>Upload Documents</h3>
                                <p>Upload Medical Documents</p>
                                <!--This is where the Medical Documents will be uploaded-->
                                <form role="form" action="/action_page.php"
                                      enctype="multipart/form-data" method="post">
                                    <p>
                                        Please select a file to upload<br>
                                        <input type="file" name="datafile" size="40">
                                    </p>
                                    <div>
                                        <input class="btn btn-default" type="submit" value="Upload">
                                    </div>
                                </form>

                                <span class="medical-doc"><!--Any medical related documents will be displayed here--></span>

                                <br />
                                <hr />
                                <br />
                                <h3>Upload Incident Reports</h3>
                                <!--This is where the Incident Reports will be uploaded-->
                                <form role="form" action="/action_page.php"
                                      enctype="multipart/form-data" method="post">
                                    <p>
                                        Please select a file to upload<br>
                                        <input type="file" name="datafile" size="40">
                                    </p>
                                    <div>
                                        <input class="btn btn-default" type="submit" value="Upload">
                                    </div>
                                </form>

                                <span class="incident-rep"><!--Any Incident reports will be displayed here--></span>
                                <br />
                                <br />
                                <span class=""></span>
                            </div>
                            <!--END Directors view of Documentation tab-->
                            <!--Directors view of Media tab-->
                            <div id="DMedia" class="tab-pane fade">


                                <h3>Upload Media</h3>
                                <!--This is where the media file is uploaded-->
                                <form role="form" action="/action_page.php"
                                      enctype="multipart/form-data" method="post">
                                    <p>
                                        Please select a file to upload<br>
                                        <input type="file" name="datafile" size="40">
                                    </p>
                                    <div>
                                        <input class="btn btn-default" type="submit" value="Upload">
                                    </div>
                                </form>
                            </div>
                            <br />

                        </div>
                        <!--END Directors view of Media tab-->

                    </div>
                </div>
            </div>
        </div>
    </div>
        <!--END Directors view of PORTFOLIO-->



</body>
   
<style>
     /* Style the tab */
    div.tab {
        overflow: hidden;
        border: 1px solid #ccc;
        background-color: #f1f1f1;
    }

        /* Style the buttons inside the tab */
        div.tab button {
            background-color: inherit;
            float: left;
            border: none;
            outline: none;
            cursor: pointer;
            padding: 14px 16px;
            transition: 0.3s;
        }

            /* Change background color of buttons on hover */
            div.tab button:hover {
                background-color: #ddd;
            }

            /* Create an active/current tablink class */
            div.tab button.active {
                background-color: #ccc;
            }

    /* Style the tab content */
    .tabcontent {
        display: none;
        padding: 6px 12px;
        border: 1px solid #ccc;
        border-top: none;
    }
</style>

<script>
    function openOption(evt, optionName) {
        // Declare all variables
        var i, tabcontent, tablinks;

        // Get all elements with class="tabcontent" and hide them
        tabcontent = document.getElementsByClassName("tabcontent");
        for (i = 0; i < tabcontent.length; i++) {
            tabcontent[i].style.display = "none";
        }

        // Get all elements with class="tablinks" and remove the class "active"
        tablinks = document.getElementsByClassName("tablinks");
        for (i = 0; i < tablinks.length; i++) {
            tablinks[i].className = tablinks[i].className.replace(" active", "");
        }

        // Show the current tab, and add an "active" class to the button that opened the tab
        document.getElementById(optionName).style.display = "block";
        evt.currentTarget.className += " active";
    }
</script>


