@* ---------------------------------- SHAPEES 2017 ---------------------------------- *@
@*                                                                                    *@
@*  Created and Edited by Four Corner Solutions team:                                 *@
@*      Ivana Ozakovic, Nicole Lardner, Damon Walker,                                 *@
@*      Cassandra Kalabric, Matthew Mauri, Sima Narain                                *@
@*                                                                                    *@
@*  Created for Kid's Uni, University of Wollongong, Wollongong                       *@
@*                                                                                    *@
@*  Filename: Home/DocumentsAndMedia.cshtml                                           *@
@*  Controller Filename: Controllers/HomeController.cs                                *@
@*                                                                                    *@
@*  File description: Documents and Media page file.                                  *@
@* ---------------------------------------------------------------------------------- *@



@{
    ViewData["Title"] = "DocumentsAndMedia";
    Layout = "~/Views/Shared/DocumentsAndMediaLayout.cshtml";
}
<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

</head>
<h2>Documents and Media</h2>
<body onload="loadDocumentsHome()">
<!--Tab System -->
<div class="tab" id="tabsystem">
    <button id="openTab" class="tablinks" onclick="openOption(event, 'Home')">View Documents &amp; Media</button>
    <button class="tablinks" onclick="openOption(event, 'Create')">Create Document</button>
    <button class="tablinks" onclick="openOption(event, 'Edit')">Add Documents/Files</button>
    <button class="tablinks" onclick="openOption(event, 'Settings')">Settings</button>
    <button class="tablinks" onclick="openOption(event, 'Help')">Help</button>

</div>

<div id="Home" class="tabcontent">
    <!-- Documents Home View-->
    <h3>Documents Home</h3>
    <p>
        This is the documents home page. Initially latest submitted documents/files/media appear on home page (by Educator or in general latest for Director).
       <div class="container" name="documentList">
        <div class="row">

            <div class="col-md-6">
                <div class="btn-group" role="group" aria-label="...">
                    <button type="button" class="btn btn-primary">All Documents</button>
                    <button type="button" class="btn btn-default">All Media</button>
                    <button type="button" class="btn btn-default">Other option</button>
                    <button type="button" class="btn btn-default">Other option</button>
                    <!--button type="button" class="btn btn-default">Announcements</button-->
                </div>

            </div>
            <div class="col-md-6">

                <div class="row">

                    <div class="col-md-8 text-right">

                        <div class="input-group">
                            <div class="input-group-btn">
                                <button type="button" class="btn btn-gray dropdown-toggle" data-toggle="dropdown" aria-expanded="false">Filters <span class="caret"></span></button>
                                <ul class="dropdown-menu" role="menu">
                                    <li><a href="#">All Documents</a></li>
                                    <li><a href="#">All Media</a></li>
                                    <li><a href="#">Something else here</a></li>
                                    <li class="divider"></li>
                                    <li><a href="#">Other...</a></li>
                                </ul>
                            </div><!-- /btn-group -->
                            <input type="text" class="form-control" placeholder="Search" aria-label="...">
                        </div><!-- /input-group -->

                    </div>
                    <div class="col-md-3 text-right">

                        <div class="btn-group">
                            <button type="button" class="btn btn-success dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                                Add Item <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu" role="menu">
                                <li><a href="#">Add document</a></li>
                                <li><a href="#">Something else</a></li>
                                <li><a href="#">Something else</a></li>
                                <li class="divider"></li>
                                <li><a href="#">Separated link</a></li>
                            </ul>
                        </div>

                    </div>

                </div>

            </div>
        </div>
        <div class="row">
            <div class="col-md-11">

                <div class="topcis-header">

                    <div class="row">

                        <div class="col-md-10">
                            <ul> </ul>
                        </div>

                        <div class="col-md-1 text-right">
                            <div class="btn-group">
                                <button type="button" class="btn btn-gray borderless dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                                    Sort By <span class="caret"></span>
                                </button>
                                <ul class="dropdown-menu" role="menu">
                                    <li><a href="#">All</a></li>
                                    <li><a href="#">Asc Date</a></li>
                                    <li><a href="#">Desc Date</a></li>
                                    <li><a href="#">Educator</a></li>
                                    <li class="divider"></li>
                                    <li><a href="#">Other...</a></li>
                                </ul>
                            </div>

                        </div>

                    </div>

                </div>

            </div>

        </div>
</div>

    </p>
</div>

<!-- Create Report View-->
<div id="Create" class="tabcontent">
    <h3>Create Document</h3>
    <p>Here you can create Documents.</p>
    <div class="container-fluid">
        <div class="container">
            <div class="row">
                <div class=" col-lg-8">
                    <form action="/createDocument.php" method="post" style="border:1px  hidden black; background-color: aliceblue">
                        <fieldset style="font-size: 18px">
                            <legend style="text-align:center; font-size: 25px;">Kid's Uni: General Form</legend>
                            <div class="col-lg-12">
                                Form Name: <br />
                                <input type="text" name="formName" placeholder="Enter form name..." />
                                <br />
                                Subject: <br /> <input type="text" name="formSubject" placeholder="Enter subject..." />
                                <br /> <br />
                                Message: <br /> <textarea placeholder="Enter content/message of document..." type="text" name="formMessage" rows="12" cols="100"></textarea>
                                <br /><br />
                                <div class="container">
                                    <div class="row">
                                        <div class="col-lg-4">
                                            Add to Group <br />
                                            <input type="checkbox" name="groupType" value="Ages 6 weeks"> Ages 6 weeks - 2 years <br />
                                            <input type="checkbox" name="groupType" value="Another"> Ages 2-5 years <br />
                                            <input type="checkbox" name="groupType" value="Another"> Ages 5-12 years <br />
                                            <input type="checkbox" name="groupType" value="Another"> Other <br />

                                        </div>
                                        <div class="col-lg-4">
                                            Set Type <br />
                                            <input type="radio" name="documentType" value="News"> News <br />
                                            <input type="radio" name="documentType" value="Reports"> Reports  <br />
                                            <input type="radio" name="documentType" value="Documents"> Documents <br />
                                            <input type="radio" name="documentType" value="Media"> Portfolio <br />
                                            <input type="radio" name="documentType" value="Other"> Other <br />
                                        </div>
                                    </div>
                                    Add other media to form: <br />
                                    <div class="container">
                                        <div class="row">

                                            <div class="form-group files color">
                                                <label>Upload Your File </label>
                                                <input type="file" class="form-control" multiple="">
                                            </div>
                                        </div>
                                    </div>
                                   
                                    <div id="Custom">
                                        <div class="container">
                                            <div class="row">
                                                <input type="hidden" name="count" value="1" />
                                                <div class="control-group" id="fields">
                                                    <label class="control-label" for="field1">Other:</label> <br />
                                                    <div class="controls" id="profs">
                                                        <div class="input-append">
                                                            <div id="field"><input autocomplete="off" class="input" id="field1" name="prof1" type="text" placeholder="Enter text here..." data-items="15"  /><button id="b1" class="btn add-more" type="button">+</button></div>
                                                            <small>Press + to add another form field...</small>

                                                        </div>
                                                        <br>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </div>

                            <br /> <br />
                            <div class="col-lg-2">
                                <input type="submit" class="btn btn-success" name="saveReport" value="Save Report" onclick="alert('Report Created!')" style="font-size: 18px;"/>
                            </div>
                            <div class="col-lg-7">
                                <input type="reset" class="btn btn-default" name="cancelReport" value="Cancel" style="font-size: 18px;"/>
                            </div>
                            <div class="col-lg-1">
                                <input type="reset" class="btn btn-danger" name="deleteReport" value="Delete Report" style="font-size: 18px;"/>
                            </div>
                            <br />
                        </fieldset>

                    </form>
                    
                    <!--New field-->



                   
                </div>
                <div class="col-lg-4">
                    <h3>More</h3> <br />
                    Form Templates: <br />
                    <img src="http://placehold.it/50x50/336699" alt="">
                    <img src="http://placehold.it/50x50/336699" alt="">
                    <img src="http://placehold.it/50x50/336699" alt="">
                    <br /><br />

                    <input type="button" name="customTemplate" value="Custom" />
                    
                </div>
            </div>
        </div>
    </div>
</div>


<!-- Edit Documents and Media View-->
<div id="Edit" class="tabcontent">
    <h3>Edit Documents/Media</h3>
    <p>Here you can view files and edit.</p>
    <button type="button" class="btn btn-primary" data-toggle="collapse" data-target="#filesList" aria-expanded="false" aria-controls="collapse">
        Display
    </button>
    <div id="filesList" class="collapse">
        <ul class="filesList">
            <li class="list-group-item">List item example</li>
        </ul>
    </div>

    <br /><br /><br />
    <p>Here you can add files...</p>
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <form role="form" method="post" action="#" id="#" enctype="multipart/form-data">
                    <div class="form-group files color">
                        <label>Upload Your File </label>
                        <input type="file" name="datafile" class="form-control" multiple="">
                    </div>

                    <h4>Leave a Comment:</h4>

                    <div class="form-group">
                        <textarea class="form-control" rows="3" required></textarea>
                    </div>
                    <button type="submit" class="btn btn-success">Submit</button>
                </form>
            </div>
        </div>
    </div>

</div>

<!--Another tab-->
<div id="Settings" class="tabcontent">

</div>
<!--Another tab-->
<div id="Help" class="tabcontent">

</div>



</body>





<!--
<script>
    //Script for other field option
    $(document).ready(function () {
        var titleValidators = {
            row: '.col-xs-4',   // The title is placed inside a <div class="col-xs-4"> element
            validators: {
                notEmpty: {
                    message: 'The title is required'
                }
            }
        },
            isbnValidators = {
                row: '.col-xs-4',
                validators: {
                    notEmpty: {
                        message: 'The ISBN is required'
                    },
                    isbn: {
                        message: 'The ISBN is not valid'
                    }
                }
            },
            priceValidators = {
                row: '.col-xs-2',
                validators: {
                    notEmpty: {
                        message: 'The price is required'
                    },
                    numeric: {
                        message: 'The price must be a numeric number'
                    }
                }
            },
            bookIndex = 0;

        $('#bookForm')
            .formValidation({
                framework: 'bootstrap',
                icon: {
                    valid: 'glyphicon glyphicon-ok',
                    invalid: 'glyphicon glyphicon-remove',
                    validating: 'glyphicon glyphicon-refresh'
                },
                fields: {
                    'book[0].title': titleValidators,
                    'book[0].isbn': isbnValidators,
                    'book[0].price': priceValidators
                }
            })

            // Add button click handler
            .on('click', '.addButton', function () {
                bookIndex++;
                var $template = $('#bookTemplate'),
                    $clone = $template
                        .clone()
                        .removeClass('hide')
                        .removeAttr('id')
                        .attr('data-book-index', bookIndex)
                        .insertBefore($template);

                // Update the name attributes
                $clone
                    .find('[name="title"]').attr('name', 'book[' + bookIndex + '].title').end()
                    .find('[name="isbn"]').attr('name', 'book[' + bookIndex + '].isbn').end()
                    .find('[name="price"]').attr('name', 'book[' + bookIndex + '].price').end();

                // Add new fields
                // Note that we also pass the validator rules for new field as the third parameter
                $('#bookForm')
                    .formValidation('addField', 'book[' + bookIndex + '].title', titleValidators)
                    .formValidation('addField', 'book[' + bookIndex + '].isbn', isbnValidators)
                    .formValidation('addField', 'book[' + bookIndex + '].price', priceValidators);
            })

            // Remove button click handler
            .on('click', '.removeButton', function () {
                var $row = $(this).parents('.form-group'),
                    index = $row.attr('data-book-index');

                // Remove fields
                $('#bookForm')
                    .formValidation('removeField', $row.find('[name="book[' + index + '].title"]'))
                    .formValidation('removeField', $row.find('[name="book[' + index + '].isbn"]'))
                    .formValidation('removeField', $row.find('[name="book[' + index + '].price"]'));

                // Remove element containing the fields
                $row.remove();
            });
    });
</script>
    -->

