@{
    Layout = null;
}

@inject Microsoft.ApplicationInsights.AspNetCore.JavaScriptSnippet JavaScriptSnippet
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>UH-OH!</title>
</head>
<body>
    <h1>UH-OH! What are you doing here?</h1>
    <h3>You are not allowed here. Sorry, but you shall go no further.</h3>
    <a href='javascript:history.go(-1)'>Go back to previous page</a>
</body>
</html>
