@* ---------------------------------- SHAPEES 2017 ---------------------------------- *@
@*                                                                                    *@
@*  Created and Edited by Four Corner Solutions team:                                 *@
@*      Ivana Ozakovic, Nicole Lardner, Damon Walker,                                 *@
@*      Cassandra Kalabric, Matthew Mauri, Sima Narain                                *@
@*                                                                                    *@
@*  Created for Kid's Uni, University of Wollongong, Wollongong                       *@
@*                                                                                    *@
@*  Filename: Home/Rooms.cshtml                                                       *@
@*  Controller Filename: Controllers/HomeController.cs                                *@
@*                                                                                    *@
@*  File description: Rooms page file.                                                *@
@* ---------------------------------------------------------------------------------- *@


@{
    ViewData["Title"] = "Rooms";
    Layout = "~/Views/Shared/RoomsLayout.cshtml";
}

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    
</head>
<body onload="loadRoomsHome()">
    <h2>Rooms</h2>
    <div class="tab">
        <button id="openTab" class="tablinks" onclick="openOption(event, 'ListRoom')">List Rooms</button>
        <button  class="tablinks" onclick="openOption(event, 'CreateRoom')">Create Room</button>
        <button class="tablinks" onclick="openOption(event, 'ManageRoom')">Manage Rooms</button>

    </div>

    <div id="CreateRoom" class="tabcontent">

        <!-- First Form to Create Room-->
        <h3> Create Room </h3>             
            <form role="form">
                <div class="rooms-group">
                    <label class="control-label" for="addRoom">Enter Room Name</label>
                    <input type="text" class="form-control" id="addRoom" placeholder="Enter room name" float="left">
                </div>
                <br />
                <div class="rooms-group">
                    <label class="control-label" for="addChildren">Add children</label>
                    <input type="text" class="form-control" id="addChildren" placeholder="Add children">
                </div>
                <br />
                <div class="rooms-group">
                    <label class="control-label" for="assignEducator">Assign Educator to Room</label>
                    <input type="text" class="form-control" id="addChildren" placeholder="Assign educator">
                </div>
                <br />
                <button type="submit" class="btn btn-secondary">Create Room</button>
            </form>
      
        </div>

    <div id="ManageRoom" class="tabcontent">

        <!-- Second Form to Manage Rooms-->
        <h3> Manage Rooms </h3>        
            <form role="form">
                <div class="rooms-group">
                    <label class="control-label" for="deleteRoom">Enter Room Name to remove</label>
                    <input type="text" class="form-control" id="addRoom" placeholder="Enter room name">
                </div>
                <br />
                <button type="submit" class="btn btn-secondary">Submit</button>
            </form>
            <br />
            <form role="form">
                <div class="rooms-group">
                    <label class="control-label" for="removeChild">Remove child from room</label>
                    <input type="text" class="form-control" id="removeChild" placeholder="Remove child">
                </div>
                <br />
                <button type="submit" class="btn btn-secondary">Submit</button>
            </form>
            <br />
            <form role="form">
                <div class="rooms-group">
                    <label class="control-label" for="removeEducator">Remove Educator from Room</label>
                    <input type="text" class="form-control" id="removeEducator" placeholder="Remove educator">
                </div>
                <br />
                <button type="submit" class="btn btn-secondary">Submit</button>
            </form>
        </div>
        

    <div id="ListRoom" class="tabcontent">
        <!--Collapsible to display room list-->
        <h3>List Rooms</h3>        
          
        <br /><br />
        <div class="container" name="roomList">
            <div class="row">

                <div class="col-md-6">
                    <div class="btn-group" role="group" aria-label="...">
                        <button type="button" class="btn btn-primary">All Rooms</button>
                        <button type="button" class="btn btn-default">6 weeks-2yrs</button>
                        <button type="button" class="btn btn-default">2yrs-6yrs</button>
                        <button type="button" class="btn btn-default">6yrs-12yrs</button>
                        <!--button type="button" class="btn btn-default">Announcements</button-->
                    </div>

                </div>
                <div class="col-md-6">

                    <div class="row">

                        <div class="col-md-8 text-right">

                            <div class="input-group">
                                <div class="input-group-btn">
                                    <button type="button" class="btn btn-gray dropdown-toggle" data-toggle="dropdown" aria-expanded="false">Filters <span class="caret"></span></button>
                                    <ul class="dropdown-menu" role="menu">
                                        <li><a href="#">All Rooms</a></li>
                                        <li><a href="#">Another action</a></li>
                                        <li><a href="#">Something else here</a></li>
                                        <li class="divider"></li>
                                        <li><a href="#">Other...</a></li>
                                    </ul>
                                </div><!-- /btn-group -->
                                <input type="text" class="form-control" placeholder="Search" aria-label="...">
                            </div><!-- /input-group -->

                        </div>
                        <div class="col-md-3 text-right">

                            <div class="btn-group">
                                <button type="button" class="btn btn-success dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                                    Add Item <span class="caret"></span>
                                </button>
                                <ul class="dropdown-menu" role="menu">
                                    <li><a href="#">Add room</a></li>
                                    <li><a href="#">Something else</a></li>
                                    <li><a href="#">Something else</a></li>
                                    <li class="divider"></li>
                                    <li><a href="#">Separated link</a></li>
                                </ul>
                            </div>

                        </div>

                    </div>

                </div>
            </div>
            <div class="row">
                <div class="col-md-11">

                    <div class="topcis-header">

                        <div class="row">

                            <div class="col-md-10">
                                <ul> </ul>
                            </div>

                            <div class="col-md-1 text-right">
                                <div class="btn-group">
                                    <button type="button" class="btn btn-gray borderless dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                                        Sort By <span class="caret"></span>
                                    </button>
                                    <ul class="dropdown-menu" role="menu">
                                        <li><a href="#">All Rooms</a></li>
                                        <li><a href="#">6wk-2yrs</a></li>
                                        <li><a href="#">2yrs-6yrs else</a></li>
                                        <li><a href="#">6yrs-12yrs else</a></li>
                                        <li class="divider"></li>
                                        <li><a href="#">Other...</a></li>
                                    </ul>
                                </div>

                            </div>

                        </div>

                    </div>

                </div>

            </div>
        </div>
    </div>
</body>





