@model Shapees.Models.DatabaseModel.Task

@{
    ViewData["Title"] = "Create";
    int? type = (HttpContextAccessor.HttpContext.Session.GetInt32("role"));
    switch (type)
    {
        case 3:
            Layout = "~/Views/Shared/_AdminLayout.cshtml";
            break;

        case 2:
            Layout = "~/Views/Shared/_EducatorLayout.cshtml";
            break;

        default:
            Layout = "~/Views/Shared/_AdminLayout.cshtml";
            break;
    }
}
@inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor
@using Microsoft.AspNetCore.Http
@using Microsoft.AspNetCore.Session

<h2>Create</h2>

<form asp-action="Create">
    <div class="form-horizontal">
        <h4>Task</h4>
        <hr />
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="form-group">
            <label asp-for="Taskforeducator" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Taskforeducator" class="form-control" />
                <span asp-validation-for="Taskforeducator" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Taskforchild" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Taskforchild" class="form-control" />
                <span asp-validation-for="Taskforchild" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Assignedforid" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <select asp-for="Assignedforid" class ="form-control" asp-items="ViewBag.Assignedforid"></select>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Taskforfirst" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Taskforfirst" class="form-control" />
                <span asp-validation-for="Taskforfirst" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Taskforlast" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Taskforlast" class="form-control" />
                <span asp-validation-for="Taskforlast" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Authorfirst" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Authorfirst" class="form-control" />
                <span asp-validation-for="Authorfirst" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Authorlast" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Authorlast" class="form-control" />
                <span asp-validation-for="Authorlast" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Authorid" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Authorid" class="form-control" />
                <span asp-validation-for="Authorid" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Childid" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <select asp-for="Childid" class ="form-control" asp-items="ViewBag.Childid"></select>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Childfirst" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Childfirst" class="form-control" />
                <span asp-validation-for="Childfirst" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Childlast" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Childlast" class="form-control" />
                <span asp-validation-for="Childlast" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Dateassigned" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Dateassigned" class="form-control" />
                <span asp-validation-for="Dateassigned" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Datecompleted" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Datecompleted" class="form-control" />
                <span asp-validation-for="Datecompleted" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Duedate" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Duedate" class="form-control" />
                <span asp-validation-for="Duedate" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Reportid" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <select asp-for="Reportid" class ="form-control" asp-items="ViewBag.Reportid"></select>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Reportpath" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Reportpath" class="form-control" />
                <span asp-validation-for="Reportpath" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Issubmitted" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Issubmitted" class="form-control" />
                <span asp-validation-for="Issubmitted" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Iscompleted" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Iscompleted" class="form-control" />
                <span asp-validation-for="Iscompleted" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
</form>

<div>
    <a asp-action="Index">Back to List</a>
</div>

